<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% seo title=false %}

  <title>
      {% if page.tag or page.title %}
        {% if page.tag %}
          {{ page.tag | escape }}
        {% else %}
          {{ page.title | escape }}
        {% endif %}
        -
      {% endif %}

      {% if paginator and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %}
        Page {{ paginator.page }} of {{ paginator.total_pages }} -
      {% endif %}
      
      {{ site.title | escape }}
      {% unless page.tag or page.title %}
        - {{ site.description | escape }}
      {% endunless %}
  </title>
  
  <style>
    {% capture include_to_scssify %}
      {% include inline.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

</head>
