*,:after,:before {
	box-sizing:border-box;
	background-color:inherit;
	
	margin:0;
	padding:0;
}

body {
	font-family: system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	line-height:1.5;
	font-size: 1.1rem;
	color: rgb(22, 23, 26);
	text-align: justify;
}

nav ul {
    border-right: 2px solid #000000;
}

a {
    color: #000;
    text-decoration-skip-ink: auto;
    text-decoration: underline;
}

a:hover   { 
  color: grey; 
  opacity: 0.5;

}

span.spoiler {
  color: black; 
  background-color:black;
  
}

span.spoiler:hover{

 	background-color:white; 
}

pre {
	margin: .5rem 0;
	padding: .5rem;
}

.post p {
	margin: .5rem 0;
}

.post h2{
	color:blue;
}

.post h1, .post h2, .post h3, .post h4 {
	margin: 1rem 0;
}

.post h3 {
	font-size: 22px;
}

.post h2:first-child, .project h2:first-child, .photo h2:first-child {
	margin-top: 0;
}

.post a {

	color: blue; 
  	text-decoration: underline; 
  	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  
   	transition:.1s;

}

.meta {
	margin: 0 0 1rem 0;
	color: grey;
}

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #fff;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  overflow:auto;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #008000 } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #0000ff } /* Keyword */
.highlight .cm { color: #008000 } /* Comment.Multiline */
.highlight .cp { color: #0000ff } /* Comment.Preproc */
.highlight .c1 { color: #008000 } /* Comment.Single */
.highlight .cs { color: #008000 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #0000ff } /* Keyword.Constant */
.highlight .kd { color: #0000ff } /* Keyword.Declaration */
.highlight .kn { color: #0000ff } /* Keyword.Namespace */
.highlight .kp { color: #0000ff } /* Keyword.Pseudo */
.highlight .kr { color: #0000ff } /* Keyword.Reserved */
.highlight .kt { color: #2b91af } /* Keyword.Type */
.highlight .s { color: #a31515 } /* Literal.String */
.highlight .nc { color: #2b91af } /* Name.Class */
.highlight .ow { color: #0000ff } /* Operator.Word */
.highlight .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight .sc { color: #a31515 } /* Literal.String.Char */
.highlight .sd { color: #a31515 } /* Literal.String.Doc */
.highlight .s2 { color: #a31515 } /* Literal.String.Double */
.highlight .se { color: #a31515 } /* Literal.String.Escape */
.highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight .si { color: #a31515 } /* Literal.String.Interpol */
.highlight .sx { color: #a31515 } /* Literal.String.Other */
.highlight .sr { color: #a31515 } /* Literal.String.Regex */
.highlight .s1 { color: #a31515 } /* Literal.String.Single */
.highlight .ss { color: #a31515 } /* Literal.String.Symbol */



// code,pre {
// 	background: rgb(236, 237, 238);
// }

// code {
// 	padding: .1rem;
// }

// pre code {
// 	border: none;
// }

pre {
	padding: 1rem;
	overflow-x: auto;
}

img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
    
  border: 1px solid #000;

}

hr {

	height:1px; 
	border:none; 
	color:#000; 
	background-color:#000;
}


header {
	flex-basis:10rem;
	flex-grow:1;
	position:relative;
}

header a {
	text-decoration: none;
}

header li {
	margin-bottom: .2rem;
	text-align: right;
	margin-right: 2rem;
}

header a.active {
	font-weight: bold;
}

header,section {
	padding:1rem;
}

blockquote {

	color: grey;
	
	padding-left: 20px;
 
}

h1,h2,h3,h4,h5 {
	line-height: 1;
	margin: 1rem 0;
	font-weight: 600;
}

h6 {
	color: grey;
	font-weight: 400;
}

section h1:first-child {
	margin-top: 0;
}

strong, b {
	font-weight: bold;
}

.photos ul {
	list-style: none;
}

.photos li {
	margin-bottom: 1.5rem;
}

.photo picture, .project picture {
	margin-bottom: 0.5rem;
}

.posts ul,header ul {
	list-style:none;
}

.posts li {

	align-items:center;
	display:flex;
	justify-content:space-between;
	margin-bottom: .5rem;
	
}

.posts li a, .posts li div, .projects li a {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-decoration: none;
}

.posts li time, .projects li time {
	padding-left: 1rem;
	white-space: nowrap;
	font-variant-numeric: tabular-nums;
}

.post ul, .project ul, .post ol  {
	
	padding-left:2em;

}

main {
	display:flex;
	flex-wrap:wrap;
	max-width:60rem;
	margin:2rem auto;
	padding:1rem;
}

.lightgbox {

  text-align: justify;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  
  background: #edf6f9;
  display: block;
  margin: 12px 0;

}

@media screen and (max-width: 720px ) {
header li {
    display: inline;
	margin-right: 1rem;
}
.logo {
	padding-bottom: 1rem;
}
header ul {
	border-bottom: 1px solid #edf2f7;
	padding-bottom: 2rem;	
}
nav ul {
    border-right: 0px;
}

.photos ul {
	margin-top: 0.5rem;
}

img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
    
  border: 1px solid #000;

}

}

section {
	flex-basis:0;
	flex-grow:999;
	min-width:70%;
	display:flex;
	flex-direction:column;
	
}

figcaption {
    font-size: smaller;
}
